<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.mw.mapper.tag.TagMapper">
    <insert id="addTag" parameterType="tag"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tags(id, name) VALUES (NULL, #{name})
    </insert>

    <select id="findTagByName" parameterType="string" resultType="tag">
        SELECT id, name FROM tags WHERE name = #{name}
    </select>
</mapper>